@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

/* z-index works only when the position is used */

header{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;
	width: 100%;
	padding: 40px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;	
}

header .logo{
	font-size: 24px;
	text-transform: uppercase;
	color: black;
	text-decoration: none;
	font-weight: 700;
	letter-spacing: 2px;
}

header ul{
	position: relative;
	display: flex;
}

header ul li{
	position: relative;
	list-style: none;
}

header ul li a{
	position: relative;
	display: inline-block;
	margin: 0 15px;
	color: black;
	text-decoration: none;
}
